<div class="bg-header fixed">
  <nav class="navbar">
    <div class="d-flex justify-content-start">
      <a class="navbar-brand ms-5 mt-3 text cursor" routerLink="/app/home">Comunità Energetica Rinnovabile</a>
    </div>
    <div class="d-flex justify-content-end">
      <a class="navbar-brand ms-5 mt-3 text cursor" routerLink="/app/home">Home</a>
      <a class="navbar-brand mt-3 text cursor" routerLink="/app/dashboard/cer/1">Dashboard</a>
      <a class="navbar-brand mt-3 text cursor" routerLink="/app/parametri/cer/1">Parametri</a>
      <a class="navbar-brand mt-3 text cursor" (click)="resetToken();">Esci</a>
    </div>
  </nav>
</div>