<div class="bg-header fixed">
  <nav class="navbar ">
    <div class="d-flex justify-content-start">
      <a class="navbar-brand ms-5 mt-3 text cursor" (click)="home();">Comunità Energetica Rinnovabile</a>
    </div>
    <div class="d-flex justify-content-end">
      <a class="navbar-brand ms-5 mt-3 text cursor" (click)="home();">Home</a>
      <a class="navbar-brand mt-3 text cursor" (click)="prosumer();">Prosumer</a>
      <a class="navbar-brand mt-3 text cursor" (click)="producter();">Produttore</a>
      <a class="navbar-brand mt-3 text cursor" (click)="resertToken();">Esci</a>
    </div>

  </nav>


</div>