#divChart {
    display: block;
    width: 800px;
    height: 400px;
}

.button {
    background-color: #1da583;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px !important;
}

.mrg {
    margin-bottom: 10px;
    margin-right: 5px;
}