<div class="m-auto mt-5 mb-4" *ngIf="prosumerArray.length > 0">
  <hr>
  <div class="row">
    <div class="col-sm-4 col-md-10 col-lg-10 mt-2">
      <h3 class="ms-3 mt-4 mb-4">Parametri</h3>
    </div>
    <div class="col-2 d-flex justify-content-end mt-4 mb-4">
      <button mat-button class="btn button" (click)=showChart()><a href="#arrivo"></a>
        Simula</button>
    </div>
  </div>
  <mat-card class="ms-3 mt-1">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-4 col-md-10 col-lg-10 mt-1">
          <span mat-raised-button
            matTooltip="Tariffa di trasmissione definita per le utenze in bassa tensione definita da ARERA"
            aria-label="Button that displays a tooltip when focused or hovered over">
            <img src="../../../../../assets/img/info.png" width="15" alt="" class="mrg">
          </span>

          <span><b>TRASe BT:</b> 12.00 €/MWh - <b>Prezzo zonale orario:</b> Annuale</span>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="m-auto mt-5 mb-4" *ngIf="show" #allCanvas>
  <hr>
  <h3 class="ms-3 mt-4 mb-4">La tua simulazione</h3>
  <mat-form-field appearance="fill" class="example-full-width ms-4">
    <mat-label>Scegli Anno o Mese</mat-label>
    <mat-select [(ngModel)]="period">
      <mat-option *ngFor="let type of choose" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row">
    <div class="col d-flex justify-content-center" *ngIf="period == 'Anno'; else mese">
      <div id="divChart" class="mt-5 mb-4">
        <div class="m-auto">
          <!-- * ANNUALE -->
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend">
          </canvas>
        </div>
      </div>
    </div>
    <ng-template #mese>
      <div class="col d-flex justify-content-center">
        <!-- * MENSILE -->
        <div id="divChart" class="mt-5 mb-4">
          <canvas baseChart class="chart" [data]="barChartData_" [options]="barChartOptions_"
            [plugins]="barChartPlugins" [type]="barChartType_" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </ng-template>
  </div>


</div>