<div id="body" class="m-auto mt-5 col-10">
  <h3 class="my-4">CER</h3>
  <!-- Accordion -->
  <div class="row mx-auto mb-4">
    <!-- * Prosumer -->
    <div class="m-auto col-sm-6 col-md-10 col-lg-10 mb-4">
      <h3 class="my-4">Aggiungi Prosumer</h3>
      <form [formGroup]="type_of_Prosumer">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dati generali
              </mat-panel-title>
              <mat-panel-description>

                <span></span>
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="space">
              <mat-form-field class="example-full-width me-3" appearance="fill">
                <mat-label class="fontSize">Name</mat-label>
                <input matInput class="example-full-width" formControlName="name">
              </mat-form-field>

              <mat-form-field class="example-full-width me-3" appearance="fill">
                <mat-label class="fontSize">Zona di appertenenza</mat-label>
                <mat-select formControlName="zone" required>
                  <mat-option *ngFor="let type of zone" [value]="type">{{type}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="example-full-width me-3">
                <mat-label class="fontSize">Tipo di Prosumer</mat-label>
                <mat-select formControlName="type_of_ProsumerList">
                  <mat-option *ngFor="let type of type_of_ProsumerList" [value]="type">{{type}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-action-row>
              <button mat-button class="btn button-secondary me-2" (click)="clearForm()" *ngIf="modify">Resetta</button>
              <button mat-button class="btn button" (click)="nextStep()">Avanti</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Impianto di produzione
              </mat-panel-title>
              <mat-panel-description>
                <!-- Type the country name -->
                <span></span>
                <mat-icon>assistant_photo</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="space">

              <mat-form-field appearance="fill" class="example-full-width me-3">
                <mat-label class="fontSize">Potenza [kW]</mat-label>
                <input type="number" matInput formControlName="type_of_energy" required>
              </mat-form-field>
              <!-- <br> -->


              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="fontSize">Tipologia di Produttore </mat-label>
                <mat-select formControlName="type_of_Producter">
                  <mat-option *ngFor="let type of type_of_Producter" selected [value]="type">{{type}}</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="fontSize">Numero di pannelli</mat-label>
                <input matInput type="number" formControlName="number_of_panels" required>
              </mat-form-field>

              <mat-form-field class="example-full-width  ms-4" appearance="fill">
                <mat-label class="fontSize">Superficie disponibile in Mq</mat-label>
                <input matInput type="number" formControlName="available_surface" required>
              </mat-form-field> -->
            </div>

            <mat-action-row>
              <button mat-button class="btn button-secondary me-2" (click)="prevStep()">indietro</button>
              <button mat-button class="btn button" (click)="nextStep()">Avanti</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Parametri di consumi
              </mat-panel-title>
              <mat-panel-description>

                <span></span>
                <mat-icon>brightness_6</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="space">
              <mat-form-field class="example-full-width ms-3 me-3" appearance="fill">
                <mat-label class="fontSize">Profilo di consumo</mat-label>
                <mat-select formControlName="type_of_consumeList" required>
                  <mat-option *ngFor="let type of type_of_consumeList" [value]="type">{{type}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width me-3">
                <mat-label class="fontSize">Classe Energetica</mat-label>
                <mat-select formControlName="energy_ratingList" required>
                  <mat-option *ngFor="let type of energy_ratingList" [value]="type">{{type}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="fontSize">Prezzo orario annuale</mat-label>
                <input matInput type="number" formControlName="prezzo_z_orario" required>
              </mat-form-field>
            </div>

            <mat-action-row>
              <button mat-button class="btn button-secondary me-2" (click)="prevStep()">indietro</button>
              <button mat-button class="btn button" (click)="saveProsumer();nextStep()" *ngIf="!modify; else modifica"
                [disabled]="!type_of_Prosumer.valid">Salva</button>
              <ng-template #modifica>
                <button mat-button class="btn button" (click)="modifyProd(); nextStep()">Modifica</button>
              </ng-template>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>
      </form>
    </div>
  </div>


  <div class="row mx-auto mb-4">
    <div class="m-auto col-sm-4 col-md-10 col-lg-10 mt-2">
      <hr>
      <!-- * Prosumer della comunità -->
      <h3 class="my-4" *ngIf="prosumerArray.length > 0">Prosumer della comunità</h3>
      <mat-card class="mt-1 mb-4" *ngFor="let prosumer of prosumerArray">
        <mat-card-content>
          <div class="row">
            <div class="col-sm-4 col-md-10 col-lg-10 mt-2">
              <!-- 
                Numero di pannelli: {{prosumer.number_of_panels}} - Sup. Disponibile: {{prosumer.available_surface}} (in
                mq)  -->
              <span>{{prosumer.name}} - {{prosumer.type_of_Producter}} - {{prosumer.type_of_ProsumerList}} -
                {{prosumer.type_of_consumeList}} - {{prosumer.energy_ratingList}} - {{prosumer.type_of_energy}} kW -
                Zona: {{prosumer.zone}} - Prezzo per orario: € {{prosumer.prezzo_z_orario}}
              </span>
            </div>
            <div class="col d-flex justify-content-end mt-2">
              <mat-icon (click)="getProsumer(prosumer);prevStep()"> border_color</mat-icon>
            </div>
            <div class="col d-flex justify-content-between mt-2">
              <mat-icon (click)="deleteProsumer(prosumer.id)">delete</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- * PARAMETERI -->
  <!-- <div *ngIf="prosumerArray.length > 0">
    <hr>
    <div class="row">
      <div class="col-10 mt-2">
        <h3 class="ms-3 mt-4 mb-4">Parametri</h3>
      </div>
      <div class="col-2 d-flex justify-content-end mt-4 mb-4">
        <button mat-button class="btn btn-success" (click)=showChart()><a href="#arrivo"></a>
          Simula</button>
      </div>
    </div>
    <mat-card class="ms-3 mt-1">
      <mat-card-content>
        <div class="row">
          <div class="col-10 mt-1">
            <span><b>TRASe BT:</b> 12.00 €/MWh - <b>BTAU:</b> 2.00 €/MWh - <b>CPR:</b> 2.0% -
              <b> Contributi in conto capitale:</b> 1% - <b>Prezzo zonale orario:</b> Annuale</span>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div> -->

  <!-- * Simulazione -->
  <div class="m-auto col-sm-4 col-md-10 col-lg-10 mt-2" *ngIf="prosumerArray.length > 0">
    <!-- <hr> -->
    <app-parameters [prosumerArray]="prosumerArray"></app-parameters>
  </div>
</div>