<div class="d-flex flex-column flex-grow-1">
  <app-headers></app-headers>
  <app-filters [route]="'dashboard'"></app-filters>

  <div class="container-fluid px-5">
    <section>
      <h1>Dashboard</h1>
      <div class="row mx-3 my-4">
        <div class="col-md-6">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Dati Economici</h3>
              <div class="box-tools pull-right">
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Descrizione</th>
                      <th>Valore</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of selected_entity?.data.economici">
                      <td>{{ field.label }}</td>
                      <td>{{ field.value }} {{ field.unit }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Dati Energia</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Descrizione</th>
                      <th>Valore</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of selected_entity?.data.energetici">
                      <td>{{ field.label }}</td>
                      <td>{{ field.value }} {{ field.unit }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mx-3 my-4">
        <div class="col-sm-4 my-2" *ngFor="let tail of selected_entity?.data.tails">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 m-auto text-center">
                  <i class="fa" [ngClass]="tail.icon" aria-hidden="true" style="font-size: 40px;"></i>
                </div>
                <div class="col-8">
                  <h4 class="card-title">{{ tail.label }}</h4>
                  <p class="card-text"><b>{{ tail.value }} {{ tail.unit }}</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-3 my-4">
        <app-chartBars [data]="selected_entity?.data.charts"></app-chartBars>
      </div>
    </section>
  </div>
</div>