<div class="d-flex flex-column flex-grow-1">
  <app-headers></app-headers>
  <app-filters [route]="'dashboard'"></app-filters>

  <div class="container-fluid px-5">
    <section>
      <h1>Dashboard - {{ selected_entity.name }}</h1>
      <div class="row my-4">
        <div class="col-md-6">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Dati Economici</h3>
              <div class="box-tools pull-right">
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Descrizione</th>
                      <th>Valore</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of selected_entity?.data.economici">
                      <td>{{ field.label }}</td>
                      <td>{{ field.value }} {{ field.unit }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Dati Energia</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Descrizione</th>
                      <th>Valore</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of selected_entity?.data.energetici">
                      <td>{{ field.label }}</td>
                      <td>{{ field.value }} {{ field.unit }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mx-3 my-4">
        <div class="col-sm-4 my-2" *ngFor="let tail of selected_entity?.data.tails">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3 m-auto text-center">
                  <i class="fa" [ngClass]="tail.icon" aria-hidden="true" style="font-size: 40px;"></i>
                </div>
                <div class="col-8">
                  <h4 class="card-title">{{ tail.label }}</h4>
                  <p class="card-text"><b>{{ tail.value }} {{ tail.unit }}</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-4">
        <app-chartBars [data]="selected_entity?.data.charts"></app-chartBars>
      </div>

      <div class="row my-4">
        <div class="col-md-6" *ngIf="selected_entity?.data.valori_annuali">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Valori medi annuali</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Descrizione</th>
                      <th>Valore</th>
                      <th>Ricavi/Spese</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of selected_entity?.data.valori_annuali">
                      <td>{{ field.label }}</td>
                      <td>{{ field.value }} {{ field.unit }}</td>
                      <td>{{ field.ricavi_spese }} € </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6" *ngIf="selected_entity?.data.proiezione">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Proiezioni a 20 anni</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Descrizione</th>
                      <th>Valore</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let field of selected_entity?.data.proiezione">
                      <td>{{ field.label }}</td>
                      <td>{{ field.value }} {{ field.unit }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col" *ngFor="let location of locations">
          <div *ngIf="location" class="m-auto d-flex justify-content-center">
            <img [src]="location.png | safe" width="900" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="users">
          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Prosumer</h3>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>POD</th>
                      <th>ACD</th>
                      <th>ACV</th>
                      <th>Energia generata</th>
                      <th>Energia consumata</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let user of users.slice(selected_entity.data.users.min, selected_entity.data.users.max)">
                      <td>{{ user.name }}</td>
                      <td>{{ user.data.prosumer.pod }}</td>
                      <td>{{ user.data.prosumer.acd }} %</td>
                      <td>{{ user.data.prosumer.acv }} %</td>
                      <td>{{ user.data.parameters.energia_generata }} kWh</td>
                      <td>{{ user.data.parameters.energia_consumata }} kWh</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>