<nav class="navbar navbar-expand-lg bg-light mx-0">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CER
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alessandria</a></li>
            <li><a class="dropdown-item" href="#">Asti</a></li>
            <li><a class="dropdown-item" href="#">Matera</a></li>
            <li><a class="dropdown-item" href="#">Valdarno</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Utenti
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mario Rossi</a></li>
            <li><a class="dropdown-item" href="#">Filippo Verdi</a></li>
            <li><a class="dropdown-item" href="#">Andrea Bianchi</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <span class="badge text-bg-light py-2">Giugno 2023</span>
  </div>
</nav>