<nav class="navbar navbar-expand-lg bg-light mx-0">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CER
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let location of locations">
              <a class="dropdown-item"
                [routerLink]="location.id ? '/app/' + url + '/cer/' + location.id : '/app/' + url"
                [ngClass]="{'active': location.id == selected_entity.id}"
                [class.disabled]="!location.id  && url == 'parametri'">{{ location.name }}</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Utenti
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let user of users">
              <a class="dropdown-item" [routerLink]="user.id ? '/app/' + url + '/utenti/' + user.id : '/app/' + url"
                [ngClass]="{'active': user.id == selected_entity.id}"
                [class.disabled]="!user.id  && url == 'parametri'">{{
                user.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>