<div class="d-flex flex-column flex-grow-1">
    <app-headers></app-headers>

    <div class="container-fluid px-5">
        <section>
            <h1>CER</h1>
            <div class="content">
                <div class="row col-12 m-auto">
                    <div class="col-sm-6 my-3" *ngFor="let location of locations">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><b>CER {{ location.name }}</b></h4>
                                <div class="row col-10 mt-5">
                                    <div class="col-md-8">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h4 class="box-title"> <em>Incremento degli ultimi 7 giorni </em>
                                                </h4>
                                            </div>
                                            <div class="box-body">
                                                <div class="table-responsive">
                                                    <table class="table no-margin">
                                                        <thead>
                                                            <tr>
                                                                <th>Descrizione</th>
                                                                <th>Valore</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let field of location.data.economici.slice(0, 3)">
                                                                <td>{{ field.label}}</td>
                                                                <td>{{ field.value }} {{ field.unit }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="box-footer clearfix">
                                                <a [routerLink]="'/app/dashboard/cer/' + location.id"
                                                    class="btn btn-sm btn-success btn-flat pull-left text-white">
                                                    <i class="glyphicon glyphicon-home" style="margin-right: 5px;"></i>
                                                    Dashboard</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <iframe [src]="location.map | safe" width="300" height="200" style="border:0;"
                                            allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>