<div class="m-auto mt-5 col-10">
    <div class="mt-5">
        <div class="row mb-5 white" style="text-align: justify;">
            <h3>Lorem ipsum</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum magna tortor, at malesuada
                velit consectetur ut. In ullamcorper justo in tempus commodo. Etiam sem erat, ultrices at ullamcorper
                sed, pharetra et neque. Aenean eu felis et orci auctor feugiat. Etiam vel lorem at est elementum varius.
                Proin luctus ipsum nibh, quis suscipit nunc pulvinar et. Donec varius sapien dui. Nullam eget tortor
                maximus lorem tristique ullamcorper. Donec dapibus turpis id mollis porttitor. Donec elementum nisl
                nulla, vitae iaculis mi semper ac. Quisque sollicitudin sem erat, congue porta leo semper bibendum.
            </p>
            <p>
                Integer mi dui, tristique sed diam nec, molestie auctor arcu. Suspendisse non quam neque. Phasellus quis
                nisi varius, faucibus nibh sed, aliquam libero. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae; Proin vestibulum nisl id lacus aliquam, in eleifend sem maximus. Ut
                condimentum, lacus at feugiat suscipit, mi augue feugiat dolor, ut iaculis sapien dolor vitae nisi.
                Etiam tempus ultrices pellentesque. Cras hendrerit sapien sit amet venenatis commodo.
            </p>
            <p>
                Pellentesque sapien turpis, rhoncus quis sollicitudin faucibus, vulputate eget tortor. Duis vitae
                pellentesque justo. Sed dignissim in dolor non suscipit. Donec ac ipsum auctor, sollicitudin nibh non,
                pharetra nunc. Phasellus facilisis, metus nec vehicula rutrum, elit tortor lobortis justo, id iaculis
                lacus massa ut risus. Cras hendrerit sed enim id rhoncus. Ut aliquet rutrum ullamcorper. Proin dictum
                libero eu libero mattis sollicitudin. Sed quis nibh felis. Donec gravida tincidunt lorem nec convallis.
                Curabitur posuere a mauris et sagittis. Aliquam nec tempor turpis, a pharetra enim. Vestibulum imperdiet
                sodales volutpat. Quisque volutpat quam nec neque fermentum sagittis. Ut ultricies odio ligula, eu
                placerat dolor luctus a. Vivamus commodo aliquet ex, vel imperdiet diam vehicula sit amet.
            </p>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="card">
                    <div class="card-body cursor" (click)="prosumer()">
                        <h4 class="mx-3 my-3">Aggiungi Prosumer</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body cursor" (click)="producter()">
                        <h4 class="mx-3 my-3">Aggiungi Produttore</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>