<div class="m-auto center">
    <div class="">
        <!-- <h2 class="text-color ">Accedi</h2> -->
        <div class="col-12 input-group center mb-3 p-2">
            <form [formGroup]="loginForm" class="example-form">
                <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
                    <mat-card class="box">
                        <mat-card-header>
                            <mat-card-title class="mb-5">Accedi</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="fontSize">Nome Utente</mat-label>
                                <input class="text" matInput formControlName="username">
                            </mat-form-field>
                            <mat-form-field class="example-full-width " appearance="fill">
                                <mat-label class="fontSize">Password</mat-label>
                                <input #password type="password" class="password position" matInput
                                    formControlName="password" required>
                                <span class="border right" id="basic-addon2" (click)="changePasswordInput(password)">
                                    <i id="eye" class="far fa-eye-slash"></i>
                                </span>
                            </mat-form-field>
                        </mat-card-content>
                        <button mat-stroked-button color="accent" class="btn button accedi"
                            (click)="login()">ACCEDI</button>
                    </mat-card>
                </div>

                <!-- </div> -->


                <!-- <div class="accedi">
                    <button type="submit" class="btn button" href="home" (click)="login()">ACCEDI</button>
                </div> -->
                <!-- <a href="recovery-password" class='register'>Password dimenticata?</a>
                <a href="registrer" class='register'>Registrati</a> -->
            </form>
        </div>
    </div>
</div>